.cabecalho {
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}

.principal{
    background-color:rgb(248, 194, 255);
 color:black;
}

.principal-imagem{
    width: 400px;
    height: 200px;
}